@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0;padding: 0;border: 0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block}
ol, ul{list-style: none}
table{border-collapse: collapse;border-spacing: 0}
a{text-decoration: none;color: inherit;}

/* common */
.clearfix:after{content: ''; display: block;clear: both;}
.ir{display: block;text-indent: -9999px;background-repeat: no-repeat;background-position: 50% 50%}
.hidden{position: absolute;top: -9999px;left: -9999px;}

.inner-ct{margin: auto;padding:0 5% 60px;max-width: 1020px;width: 90%;}

html,body{height: 100%;}
/* fonts */
body{font-family: sans-serif,'돋움';color:#3a3a3a}

.wrap{height: 100%;}

/* header */
#header{height: 5em;}
#header.scroll{position: fixed;top: 0;left: 0;width: 100%;background-color: transparent;}
#header.scroll-bg{background-color: #e8d537;}
#header.scroll-bg .gnb>ul>li.active>a{color: #5aa00c;font-weight: bold;}

.logo{float: left;}

/* container */
#container{height: 100%;}

/* 섹션 공통 */
.st{}
.st .st-title{padding-top: 4em;color:#125106;font-size: 2em;text-align: center;}

/* 섹션-비디오 */
.st-video{}
.video-wrap{overflow: hidden;background-image: url(../file/Pinwheel.jpg);background-size:cover}
.video-filter{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #000;opacity: 0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
.title-area{position: absolute;top: 50%;left: 0;margin-top: -40px;width: 100%;text-align: center;}
.name{color:#fff;font-size: 2.625em;font-weight: 900;}
.job{color:#fff;font-size: 1.313em;font-weight: 900;}

.profile{text-align: center;margin: 3em 0 4em;}
.profile-box{overflow: hidden;margin: auto;width: 12em;height: 12em;border-radius: 50%}
.profile-box>img{width: 100%;height: 100%;}

.st-about{height: 100%;}
.st-about .st-title{}
.st-about .about-wrap{}
.st-about .about{float: left;width: 50%;}
.st-about .about .tit{color:#5aa00c;margin-bottom: 1em;font-size: 1.313em;}

.st-skill{background: url(../file/skills_bg.jpg);background-position: 50% 50%;}
.st-skill .st-title{color:#fff;}
.st-skill .dl-list>dt{color:#fff;}
.st-skill .dl-list>dd{color:#fff;}

.gnb>ul{display: inline-block;}
.gnb>ul>li{float: left;padding: 0 20px;}
.gnb>ul>li>a{display: block;height: 5em;color: #fff;line-height: 5em;}


.bg-yellow{height: 5em;background-color: #e8d537;}

.dl-list>dt{float: left;clear: both;margin-top: 12px;color:#777;width: 150px}
.dl-list>dd{float: left;margin-top: 12px;color:#222}

.caution{text-align: center;}

.pf-list{width: 30.3333%;margin: 20px 1.5%;float: left;}
.pf-list .pf{border: 1px solid #000;}

.st-cont{height: 100%;background-image: url(../file/contact_bg.jpg);background-size: cover;background-position: 50% 100%;}

/* PC */
@media screen and (min-width:1025px){
  
}

/* 태블릿 */
@media screen and (max-width:1024px){
  body{font-size: 15px;}
  .video-wrap>video{display: none;}
  .gnb{display: none;}
}

/* landscape */
@media screen and (max-width:767px){
  .st-about .about{width: 100%;}

}

/* 모바일 */
@media screen and (min-width:480px) and (max-width:320px){

}